<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>NeighBOARD</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/js/neighbor.js"></script>
		<script src="/public/js/blog.js"></script>
		<script src="/public/js/cms.js"></script>
	</head>
	<body>
		{{{ body }}}

		<h1> test</h1>
	</body>
</html>