<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>NeighBOARD</title>
		{{!-- <script src="/public/js/neighbor.js"></script> --}}
		{{!-- <script src="/public/js/blog.js"></script> --}}
		{{!-- <script src="/public/js/cms.js"></script> --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/lux/bootstrap.min.css" integrity="sha384-smnSwzHqW1zKbeuSMsAM/fMQpkk7HY11LuHiwT8snL/W2QBoZtVCT4H5x1CEcJCs" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
	</head>
	<body>
		{{>navbar}}
		{{{ body }}}
	</body>
</html>