<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>CMS - Express</title>
	<!-- Latest compiled and minified CSS & JS -->
	{{!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet"> --}}
	{{!-- <link rel="stylesheet" href="css/styles.css" media="screen" title="no title"> --}}
	{{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> --}}
	<script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
	{{!-- <div class="container">
		<div class="row mt-4">
      <div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/blog">Go to Blog</a>
      </div>
			<div class="col-md-2 col-sm-2">
        <a class="btn btn-light" href="/cms">New Post</a>
      </div>
    </div> --}}
		<div class="row">
			<div class="col-md-8 offset-md-2">
				<div class="neighbor-container">
					<h1>Neighbors</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th># of Posts</th>
								<th>See Neighbors Posts</th>
								<th>New Post</th>
								<th>Delete Neighbor</th>
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
								<form id="neighbor-form">
									<td colspan="4">
										<input placeholder="Enter a name" id="neighbor-name" type="text" />
									</td>
									<td colspan="4">
										<input placeholder="Pets?" id="neighbor-pet" type="text" />
									</td>
									<td colspan="4">
										<input placeholder="Kids" id="neighbor-kid" type="text" />
									</td>
									<td colspan="4">
										<input placeholder="How many cars?" id="neighbor-car" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Create Neighbor</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</d>
		<!-- Custom Script -->
		<script src="/assets/js/neighbor.js" type="text/javascript"></script>

</body>

</html>
